<h1>Listing routines</h1>


<br>


 <table border="1">
  <tr>
  <th><%= "Exercise" %></th>
  <th><%= "Body part" %></th>
  <th><%= "Reps" %></th>
  </tr>
  <% @generator.each do |mv, bp, r|  %>
  <tr>
    <td> <%= mv %> </td> 
    <td><i> <%= bp %> </i></td> 
    <td><i> <%= r %> </i></td> 
   </tr>
  <% end %>
</table>

<%= link_to 'Index', exercises_path %>


    

    
