<h1>Listing routines</h1>


<br>


 <table border="1">
  <tr>
  <th><%= "Exercise" %></th>
  <th><%= "Body part" %></th>
  <th><%= "Reps" %></th>
  <th><%= "Description" %></th>
  </tr>
  <% @generator.each do |mv, bp, r, d|  %>
  <tr>
    <td> <%= mv.titleize %> </td> 
    <td><i> <%= bp.titleize %> </i></td> 
    <td><i> <%= r %> </i></td> 
    <% if d != nil %><td> <%= d.capitalize %> <td> <% end %>
   </tr>
  <% end %>
</table>

<%= link_to 'Refresh Workout', routines_path %><div></div><%= link_to 'Index', exercises_path %>

<br>
<%= @generator.inspect %>


    

    
