
  <div id="page">
        <div class="container">
          <div class="row">
            <div class="3u">
              <section id="sidebar1">
                <header>
                  <h2>Bodypart Exercises</h2>
                </header>
                <ul class="style3">
                  <li class="first">
                    <p>Here are all exercises for your selected bodytype.</p>
                    <p>To generate a workout or return to the index, please use the buttons below.</p>
                    <ul class="style3">
                  <li class="first">
                <p class="button"><%= link_to 'Generate Workout', generator_path %></p>
                </li>
                <li class="first">
                <p class="button"><%= link_to 'Index', exercises_path %></p>
                </li>
                </ul>
                  </li>
                </ul>
              </section>
            </div>
<div class="6u skel-cell-important">
              <section id="content" >
                <header>
                  <h2></h2>
                </header>
                
                  <table>
  <%= render 'table_header' %>


   <tbody>
    <% if current_page?('/generator/legs') %>
        <% @legs.each do |exercise| %>
        <tr>
            <td><%= exercise.move.titleize %></td>
            <td><%= exercise.bodypart.titleize %></td>
            <td><%= exercise.reps %></td>
            <% if exercise.description.blank? %><td>-</td><% else %><td><%= exercise.description %></td><% end %> 
            <% if admin_signed_in? %><td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
                          <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
        <% end %>
    <% end %>
   </tbody>

  <tbody>
    <% if current_page?('/generator/full') %>
        <% @full.each do |exercise| %>
        <tr>
            <td><%= exercise.move.titleize %></td>
            <td><%= exercise.bodypart.titleize %></td>
            <td><%= exercise.reps %></td>
            <% if exercise.description.blank? %><td>-</td><% else %><td><%= exercise.description %></td><% end %> 
            <% if admin_signed_in? %><td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
                          <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
        <% end %>
    <% end %>
   </tbody>

   <tbody>
    <% if current_page?('/generator/shoulders') %>
        <% @shoulders.each do |exercise| %>
        <tr>
            <td><%= exercise.move.titleize %></td>
            <td><%= exercise.bodypart.titleize %></td>
            <td><%= exercise.reps %></td>
            <% if exercise.description.blank? %><td>-</td><% else %><td><%= exercise.description %></td><% end %> 
            <% if admin_signed_in? %><td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
                          <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
        <% end %>
    <% end %>
   </tbody>

  <tbody>
    <% if current_page?('/generator/back') %>
        <% @back.each do |exercise| %>
        <tr>
            <td><%= exercise.move.titleize %></td>
            <td><%= exercise.bodypart.titleize %></td>
            <td><%= exercise.reps %></td>
            <% if exercise.description.blank? %><td>-</td><% else %><td><%= exercise.description %></td><% end %> 
            <% if admin_signed_in? %><td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
                          <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
        <% end %>
    <% end %>
   </tbody>

  <tbody>
    <% if current_page?('/generator/core') %>
        <% @core.each do |exercise| %>
        <tr>
            <td><%= exercise.move.titleize %></td>
            <td><%= exercise.bodypart.titleize %></td>
            <td><%= exercise.reps %></td>
            <% if exercise.description.blank? %><td>-</td><% else %><td><%= exercise.description %></td><% end %> 
            <% if admin_signed_in? %><td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
                          <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
        <% end %>
    <% end %>
   </tbody>

  <tbody>
    <% if current_page?('/generator/chest') %>
        <% @chest.each do |exercise| %>
        <tr>
            <td><%= exercise.move.titleize %></td>
            <td><%= exercise.bodypart.titleize %></td>
            <td><%= exercise.reps %></td>
            <% if exercise.description.blank? %><td>-</td><% else %><td><%= exercise.description %></td><% end %> 
            <% if admin_signed_in? %><td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
                          <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
        <% end %>
    <% end %>
   </tbody>

</table></p>
                
              </section>


</div>
            <div class="3u">
              <section id="sidebar2">
                <%= render 'bodyparts' %>
                <!--<a href="#" class="button">Full Article</a>-->
              </section>
            </div>
          </div>

        </div>  
      </div>






